In [1]:
#lets import required lib
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
#lets first connect to the seb driver
driver = webdriver.Chrome(r'C:\Users\Mohit Jha\Downloads\Compressed\chromedriver_win32\chromedriver.exe')

<ipython-input-2-41ca27638368>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\Mohit Jha\Downloads\Compressed\chromedriver_win32\chromedriver.exe')

In [3]:
driver.get('https://www.naukri.com/')

In [4]:
#finding element for job search bar

search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist‚Äù')

<ipython-input-4-31007f75d188>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id('qsb-keyword-sugg')

In [5]:
# finding search loc element

search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys('Bangalore')

<ipython-input-5-495b0d15d64d>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")

In [6]:
#finding search button element
search_but = driver.find_element_by_xpath("//button[@class='btn']")
search_but.click

<ipython-input-6-1223d876fc41>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_but = driver.find_element_by_xpath("//button[@class='btn']")

In [8]:
#scrape the data for the first 10 jobs results you get.
#job title
all_title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
all_title

<ipython-input-8-946e1c648edf>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  all_title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

[<selenium.webdriver.remote.webelement.WebElement (session="3fbfc36033903d56d76d129af13a1887", element="ce2309a0-12c0-4be6-a62f-b8371386faf7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fbfc36033903d56d76d129af13a1887", element="0c1c0e7d-8a0c-4615-8c2b-69c6b407b4c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fbfc36033903d56d76d129af13a1887", element="316a3701-0312-48ee-8878-9a22e3edc1a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fbfc36033903d56d76d129af13a1887", element="e172fc42-ee50-4f2e-bf81-f6fb48941410")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fbfc36033903d56d76d129af13a1887", element="f0560b69-227b-4a03-b731-a98e3860e140")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fbfc36033903d56d76d129af13a1887", element="cc344b9d-3434-4ef1-a76e-10fe9d7217d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fbfc36033903d56d76d129af13a1887", element="44b37e48-d67f-4f2b-a7f8-fb4d047da454")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fbfc36033903d56d76d129af13a1887", element="675225e6-a485-4122-a30c-6d311c468a8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fbfc36033903d56d76d129af13a1887", element="fdda447d-d51a-4185-b429-ee7925960870")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fbfc36033903d56d76d129af13a1887", element="b858a01f-e406-4bf4-96f6-aefef62c846b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fbfc36033903d56d76d129af13a1887", element="29ecc79f-e262-4bca-86ee-4a30af597e9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fbfc36033903d56d76d129af13a1887", element="e78e57c4-a769-4986-967a-7a3914d3216f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fbfc36033903d56d76d129af13a1887", element="b978a813-b70f-47a0-a159-af9d51b71d68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fbfc36033903d56d76d129af13a1887", element="6350f41b-225d-4124-a4ef-4c7a556d3945")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fbfc36033903d56d76d129af13a1887", element="3052521b-9733-4fe9-adbb-dfc3c303fdcd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fbfc36033903d56d76d129af13a1887", element="a299db6d-14d7-4e6d-b14b-bdcacca4fce3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fbfc36033903d56d76d129af13a1887", element="f9b67d1b-353d-40a1-85b5-5d7aaffb6539")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fbfc36033903d56d76d129af13a1887", element="2fb5d88d-f087-438a-b987-0838f9c65ba3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fbfc36033903d56d76d129af13a1887", element="c2912623-a813-4279-8f2c-8407478b226d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fbfc36033903d56d76d129af13a1887", element="d397a438-3a0d-4fe2-a30a-5ce33a555598")>]

In [10]:
job_titles=[]
for i in all_title:
    job_titles.append(i.text)

job_titles

['Senior Engineer - AIML - Data Scientist',
 'Cognitive/AI Senior Data Scientist',
 'Lead/Senior Data Scientist (NLP)',
 'Data Scientist: Advanced Analytics',
 'Data Scientist: Advanced Analytics',
 'Data Scientist: Artificial Intelligence',
 'Senior Staff Data Scientist',
 'Senior Staff Data Scientist',
 'Jr. Data Analyst/ Jr. Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Lead Programmer - Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Opportunity For Data Scientist - Analytics',
 'Data Scientist: Advanced Analytics',
 'Data Scientist, Audit Analytics',
 'Data Scientist- Predictive Modelling',
 'Data Scientist']

In [11]:
#company
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")


companies_tags_titles=[]
for i in companies_tags:
    companies_tags_titles.append(i.text)
    
companies_tags_titles

<ipython-input-11-e790f7cb4e1e>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

['Unisys',
 'IBM India Pvt. Limited',
 'Samya.AI A FRACTAL Entity',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'FabHotel Aay Kay Model Town',
 'Baker Hughes',
 'Sejal Consulting Hub',
 'Wipro',
 'Wipro',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Juniper Networks',
 'Kyndryl',
 'Rapid Value IT Services Pvt Ltd',
 'Firstsource Solutions Limited',
 'ExecBoardinAsia',
 'ExecBoardinAsia',
 'Emmess technologies private Limited',
 'Kyndryl']

In [12]:
#experience
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")


experience_tags_titles=[]
for i in experience_tags:
    experience_tags_titles.append(i.text)
experience_tags_titles

<ipython-input-12-347c92d0e075>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

['4-9 Yrs',
 '4-8 Yrs',
 '3-8 Yrs',
 '5-7 Yrs',
 '5-10 Yrs',
 '4-6 Yrs',
 '2-5 Yrs',
 '4-9 Yrs',
 '0-5 Yrs',
 '4-9 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '11-15 Yrs',
 '4-7 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '6-9 Yrs']

In [13]:
#location
location_title=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

location_tags_titles=[]
for i in location_title:
    location_tags_titles.append(i.text)
    
location_tags_titles

<ipython-input-13-c141f5bfd649>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_title=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

['Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 '(WFH during Covid)',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Pune, Bangalore/Bengaluru, Delhi / NCR',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 '(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kochi/Cochin, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR',
 '(WFH during Covid)',
 'Bangalore/Bengaluru']

In [14]:
#salary
salary_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']//span")


salary_tags_titles=[]
for i in salary_tags:
    salary_tags_titles.append(i.text)
salary_tags_titles

<ipython-input-14-bfea234e848a>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  salary_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']//span")

['Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '5,00,000 - 14,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 '10,00,000 - 20,00,000 PA.',
 'Not disclosed']

In [15]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=companies_tags_titles[:10]
jobs['experience']=experience_tags_titles[:10]
jobs['salary']=salary_tags_titles[:10]
jobs['place']=location_tags_titles[:10]

jobs

,title,company,experience,salary,place
0,Senior Engineer - AIML - Data Scientist,Unisys,4-9 Yrs,Not disclosed,Bangalore/Bengaluru
1,Cognitive/AI Senior Data Scientist,IBM India Pvt. Limited,4-8 Yrs,Not disclosed,Bengaluru/Bangalore
2,Lead/Senior Data Scientist (NLP),Samya.AI A FRACTAL Entity,3-8 Yrs,Not disclosed,Bangalore/Bengaluru
3,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,5-7 Yrs,Not disclosed,(WFH during Covid)
4,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,5-10 Yrs,Not disclosed,Bengaluru/Bangalore
5,Data Scientist: Artificial Intelligence,IBM India Pvt. Limited,4-6 Yrs,Not disclosed,Bangalore/Bengaluru
6,Senior Staff Data Scientist,FabHotel Aay Kay Model Town,2-5 Yrs,Not disclosed,Bangalore/Bengaluru
7,Senior Staff Data Scientist,Baker Hughes,4-9 Yrs,Not disclosed,Bangalore/Bengaluru
8,Jr. Data Analyst/ Jr. Data Scientist,Sejal Consulting Hub,0-5 Yrs,Not disclosed,Bangalore/Bengaluru
9,Senior Data Scientist,Wipro,4-9 Yrs,Not disclosed,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M..."

## ques 3

In [2]:
#lets import required lib
import selenium
import pandas as pd
from selenium import webdriver

In [39]:
#lets first connect to the seb driver
driver = webdriver.Chrome(r'C:\Users\Mohit Jha\Downloads\Compressed\chromedriver_win32\chromedriver.exe')
# specifying the url of the webpage to be scraped
url = "https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityTypeGid=9508&ctcFilter=3to6"

# open the webpage through our web driver
driver.get(url)

<ipython-input-39-d44b0a62274e>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\Mohit Jha\Downloads\Compressed\chromedriver_win32\chromedriver.exe')

In [61]:
# creating empty list to scraping data into them

job_title=[]
company_name=[]
job_location=[]
experience_required=[]

In [62]:
# extracting all the tags having job-titles

title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tag[0:10]

<ipython-input-62-2252e1506609>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

[<selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="e9139839-f071-40f0-96ce-229ade2052fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="b83cbe72-4fc0-4f49-8d14-76e0c8b93c5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="ec62d5a3-61dd-4ca8-bf62-27fb01a75929")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="7d20b23d-123a-4f45-9632-d66b43577dca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="dc52a975-2c58-443a-87da-345b746b3153")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="304bd76c-885a-4fdb-a63f-9a19bdfb2d08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="5cc381f7-74ef-4c04-805c-f50dce8b4fc7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="f331e5be-a955-4dfd-b158-fa00835ca52e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="eb820bba-7c8d-47f7-811f-5d251b5afcfe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="f4a1cd24-66b9-48b5-aeee-0bf1363f996c")>]

In [63]:
# extract the job title text 

for i in title_tag:
    title = i.text
    job_title.append(title)
job_title = job_title[0:10]

Below are the top 10 job data's job title:
 ['Data Scientist', 'Data Scientist', 'Data Scientist', 'Hiring For Data Scientist', 'Data Scientist/ Senior Data Scientist', 'Project Manager | Team Leader | Senior Data Scientist', 'Data Scientist', 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC', 'Data Scientist', 'Senior Data Scientist']

In [64]:
# scraping the job location text 

for i in location_tag:
    location = i.text
    job_location.append(location)
job_location = job_location[0:10]

In [54]:
# scraping all the tags having company name

company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[0:10]

<ipython-input-54-2f2df0793cbb>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

[<selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="6a5fbb70-821b-4320-a34a-07e468acbb4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="fca34b1e-a067-47ac-85e1-624251b36b52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="d0120d29-b5df-4047-bc0a-9c8253bb0106")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="173fd998-4524-4d3d-8aab-cc7baaa6bf60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="7e5398ce-f945-403f-81c0-f927a2cc9647")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="ec5cd618-43e9-482d-99db-fb61992c3f26")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="5fd281f6-7e78-4fd8-b856-2003d34379a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="229c9036-e83e-456d-a6b7-b69d3d06f1e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="157288ce-233a-4178-a808-c60df810f20d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="9c4acba1-9156-484d-b33b-aac1e8fbb6e8")>]

In [65]:
# scraping the company name 

for i in company_tag:
    company = i.text
    company_name.append(company)
company_name = company_name[0:10]

In [56]:
# scraping job-experience

exp_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp_tag[0:10]

<ipython-input-56-dc9f38bb6545>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  exp_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

[<selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="ecac37a9-ec48-4d88-95a6-593059b2f833")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="c2aa8842-925c-42c2-9bf7-4baf57392e3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="91cdbe07-269f-4562-b3d4-f056d5596d36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="1cec2b60-b8c2-42ac-a6b9-1f1fa2ecf388")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="db6ecbb1-5769-4882-8fd1-cf9dd2f163f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="5d28cc17-4c19-4c2a-8fc8-8b6ce62b9a1b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="74a4cdd0-4e00-4e13-9574-5a276454aca9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="32ed3fdb-909c-4e53-888a-2783f3b90d86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="09957ffe-3b00-409a-adf8-6dab3311c9af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f7090888492b0464ff2a259fdcee965", element="a4486835-2b58-4815-9e6f-2936817381e7")>]

In [66]:
# scraping the job experience text iteratively from these tags one by one

for i in exp_tag:
    experience_required.append(i.text.replace("Yrs",""))
experience_required= experience_required[0:10]

In [67]:
# making DataFrame of the top 10 job details from the "wwww.naukri.com"

naukri_filter = pd.DataFrame({'Title':job_title, 
                       'Location': job_location,
                       'Company_Name':company_name, 
                       'Experience':experience_required,                        
                       })
naukri_filter

,Title,Location,Company_Name,Experience
0,Data Scientist,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,...",LG Electronics India Pvt. Ltd.,0-2
1,Data Scientist,"Noida, Nodia\n(WFH during Covid)",Navikenz India Pvt Ltd,2-7
2,Data Scientist,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",Country Veggie,1-3
3,Hiring For Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Tata Consultancy Services Ltd.,4-9
4,Data Scientist/ Senior Data Scientist,Noida,Newgen Software Technologies,2-5
5,Project Manager | Team Leader | Senior Data Sc...,Remote,Tidyquant (OPC) Private Limited,1-5
6,Data Scientist,"Gurgaon/Gurugram, Chennai",Teleperformance,4-9
7,Data Analyst / Data Scientist / Business Analy...,"Noida, Ghaziabad, Delhi / NCR",GABA Consultancy services,0-0
8,Data Scientist,New Delhi,The Boston Consulting Group (India) Pvt Limited,2-5
9,Senior Data Scientist,Delhi,iNICU,1-5

In [68]:
driver.close()

## ques 4

In [69]:
#lets import required lib
import selenium
import pandas as pd
from selenium import webdriver

In [70]:
#lets first connect to the seb driver
driver = webdriver.Chrome(r'C:\Users\Mohit Jha\Downloads\Compressed\chromedriver_win32\chromedriver.exe')
url=' https://www.flipkart.com/'
driver.get(url)

<ipython-input-70-90c512974be8>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\Mohit Jha\Downloads\Compressed\chromedriver_win32\chromedriver.exe')

In [71]:
#Enter ‚Äúsunglasses‚Äù in the search field
search_product = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
search_product.send_keys("sunglasses")

<ipython-input-71-2052271c60bd>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_product = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")

In [72]:
# click the search button
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

<ipython-input-72-fbba0865157d>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [73]:
page_url=[]

url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute('href'))
page_url=page_url[0:3]

<ipython-input-73-3fe5a9364602>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")

In [74]:
# creating empty list to scraping data into them

brand=[]
Description=[]
Price=[]
Discount=[] 

# scraping all the tags

for i in page_url:
    driver.get(i)
    titles_brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in titles_brand:
        brand.append(i.text)
        
    titles_Description=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in titles_Description:
        Description.append(i.text)
        
    titles_Price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in titles_Price:
        Price.append(i.text.replace("‚Çπ",""))
        
    titles_Discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    for i in titles_Discount:
        Discount.append(i.text.replace("% off",""))

<ipython-input-74-8a9f7cfaf631>:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
<ipython-input-74-8a9f7cfaf631>:16: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_Description=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
<ipython-input-74-8a9f7cfaf631>:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_Price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
<ipython-input-74-8a9f7cfaf631>:24: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_Discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

In [75]:
# creating dataframe for the first 100 sunglasses listings on flipkart.com:

flipkart=pd.DataFrame({})
flipkart['Brand']=brand[0:100]
flipkart['Product Description']=Description[0:100]
flipkart['Price']=Price[0:100]
flipkart['Discount %']=Discount[0:100]

In [77]:
flipkart

,Brand,Product Description,Price,Discount %
0,Kanishka,Others Round Sunglasses (55),151,84
1,RMKK,UV Protection Wayfarer Sunglasses (56),87,82
2,SRPM,UV Protection Round Sunglasses (54),188,85
3,Elligator,UV Protection Aviator Sunglasses (54),248,90
4,PIRASO,UV Protection Rectangular Sunglasses (Free Size),200,87
...,...,...,...,...
95,LOUIS KOUROS,"UV Protection, Gradient Butterfly, Retro Squar...","1,499",81
96,Fastrack,"Polarized, UV Protection Wayfarer Sunglasses (61)",639,20
97,DEIXELS,UV Protection Rectangular Sunglasses (Free Size),224,62
98,elegante,UV Protection Wayfarer Sunglasses (55),449,80
99,ROADWAY,UV Protection Wayfarer Sunglasses (Free Size),296,77

In [78]:
driver.close()

## ques 5

In [79]:
#lets import required lib
import selenium
import pandas as pd
from selenium import webdriver

In [80]:
driver = webdriver.Chrome(r'C:\Users\Mohit Jha\Downloads\Compressed\chromedriver_win32\chromedriver.exe')
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

<ipython-input-80-02f7fd71a698>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\Mohit Jha\Downloads\Compressed\chromedriver_win32\chromedriver.exe')

In [81]:
url=[]
for i in driver.find_elements_by_xpath("//div[@class='col JOpGWq']//a"):
    url.append(i.get_attribute('href')) 
url

<ipython-input-81-6a71d2c7df59>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//div[@class='col JOpGWq']//a"):

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&aid=dc0f2b2d-7619-44cc-b5fc-2fe3e4d453a7&mid=FLIPKART&fid=dc5a8d3c-a461-4a98-a9a4-4867337f9b94.MOBFKCTSVZAXUHGR&an=Camera&cat=Mobile&vert=Handset',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&aid=3ac62744-ab96-4f53-82f7-02eb72b6a662&mid=FLIPKART&fid=dc5a8d3c-a461-4a98-a9a4-4867337f9b94.MOBFKCTSVZAXUHGR&an=Battery&cat=Mobile&vert=Handset',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&aid=b32e49f9-79fd-4798-98ad-51dd89a408d0&mid=FLIPKART&fid=dc5a8d3c-a461-4a98-a9a4-4867337f9b94.MOBFKCTSVZAXUHGR&an=Display&cat=Mobile&vert=Handset',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&aid=00ab4120-12b2-4a8f-b4e0-b426e17a27ca&mid=FLIPKART&fid=dc5a8d3c-a461-4a98-a9a4-4867337f9b94.MOBFKCTSVZAXUHGR&an=Value%20for%20Money&cat=Mobile&vert=Handset',
 'https://www.flipkart.com/reviews/a89d3136-e4fc-4741-adc5-e6096d029064',
 'https://www.flipkart.com/reviews/d488078a-97b1-4efb-ba8e-f464a372f40a',
 'https://www.flipkart.com/reviews/da499d43-115b-4ed3-a59d-90ee32eeb681',
 'https://www.flipkart.com/reviews/70ac5cb4-b881-4caf-837c-b1941d5afc2c',
 'https://www.flipkart.com/reviews/e3e454a3-814b-4962-81d9-3a4277c239c3',
 'https://www.flipkart.com/reviews/ca21267a-5c8c-4711-a1c1-45b1bcb9ba42',
 'https://www.flipkart.com/reviews/fec03aa5-5a1e-4dc1-ac21-ce9305fba8b6',
 'https://www.flipkart.com/reviews/56ae5aca-cb1c-45ce-93e5-f54989b92a69',
 'https://www.flipkart.com/reviews/baf378ee-93dd-4cae-a52a-c2b2efd7fdc4',
 'https://www.flipkart.com/reviews/6f4f5b28-8b42-4333-a068-39d0f5c79225',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART']

In [82]:
rating=[]
review_summary=[]
full_review=[]
for i in url:
    driver.get(i)
    for i in range(0,10):
        for i in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
            rating.append(i.text)
        for i in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
            review_summary.append(i.text)
        for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
            full_review.append(i.text)

<ipython-input-82-e01cdf3b753c>:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
<ipython-input-82-e01cdf3b753c>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
<ipython-input-82-e01cdf3b753c>:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):

In [83]:
df=pd.DataFrame({})
df['rating']=rating[:100]
df['review']=review_summary[:100]
df['full_review']=full_review[:100]
df

,rating,review,full_review
0,5,Brilliant,...processor then any android processors .\n\n...
1,5,Simply awesome,...phone.\nIn terms of display its very good.\...
2,5,Best in the market!,...runs smoothly. Battery life is awesome and ...
3,5,Perfect product!,...Totally genuine product amazing camera and ...
4,5,Worth every penny,...Awesome camera‚Ä¶ ram management top notch‚Ä¶.....
...,...,...,...
95,5,Fabulous!,"...for content creators, business persons. Ver..."
96,5,Great product,...hardware and the software is excellent. Gre...
97,4,Good choice,"...Product is very good , the only problem is ..."
98,5,Worth every penny,...Awesome camera
99,5,Highly recommended,...Don‚Äôt expect much from front camera‚Ä¶ especi...

In [ ]:
driver.close()

## ques 6

In [90]:
#lets import required lib
import selenium
import pandas as pd
from selenium import webdriver
import time

In [86]:
driver = webdriver.Chrome(r'C:\Users\Mohit Jha\Downloads\Compressed\chromedriver_win32\chromedriver.exe')
url='https://www.flipkart.com/'
driver.get(url)

<ipython-input-86-bc6191c5d05f>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\Mohit Jha\Downloads\Compressed\chromedriver_win32\chromedriver.exe')

In [93]:
search=driver.find_element_by_xpath("//div[@class='_3OO5Xc']//input")
search.send_keys('sneakers')

apply=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
apply.click()

<ipython-input-93-2934e397245b>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search=driver.find_element_by_xpath("//div[@class='_3OO5Xc']//input")
<ipython-input-93-2934e397245b>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  apply=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [95]:
urls=[]
Brand=[]
Description=[]
Price=[]
Discount=[]
for i in range(0,3):
    for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        urls.append(j.get_attribute('href'))
    for i in range(0,3):
        for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
            Brand.append(i.text)
        for i in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
            Description.append(i.text)
        for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
            Price.append(i.text)
        for i in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span"):
            Discount.append(i.text)
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
        time.sleep(4)

<ipython-input-95-24ebea735f13>:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
<ipython-input-95-24ebea735f13>:10: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
<ipython-input-95-24ebea735f13>:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
<ipython-input-95-24ebea735f13>:14: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
<ipython-input-95-24ebea735f13>:16: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span"):
<ipython-input-95-24ebea735f13>:18: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

In [96]:
df=pd.DataFrame({})
df['Brand']=Brand[:100]
df['Price']=Price[:100]
df['Discount']=Discount[:100]
df['Description']=Description[:100]

In [97]:
df

,Brand,Price,Discount,Description
0,aadi,‚Çπ319,84% off,Sneakers For Men
1,BIRDE,‚Çπ339,66% off,Casual Shoes Sneakers For Men
2,India hub,‚Çπ449,82% off,Fashionable casual sneakers shoes Sneakers For...
3,Viv,‚Çπ539,64% off,Sneakers For Men
4,BIRDE,‚Çπ299,40% off,Birde Trendy Casual Shoes Sneakers For Men
...,...,...,...,...
95,NIKE,"‚Çπ4,759",29% off,Modern & Trendy Collection Combo Pack of 02 Sh...
96,RODDICK SHOES,‚Çπ499,50% off,Sneakers For Men
97,Zsyto,‚Çπ418,58% off,Casual Sneakers Green Shoes For Men And Boys S...
98,Absolute comfort,‚Çπ166,66% off,Sneakers For Men
99,RED TAPE,"‚Çπ1,423",75% off,Modern Trendy Sneakers Shoes Sneakers For Men

In [98]:
driver.close()

## ques 7

In [100]:
driver = webdriver.Chrome(r'C:\Users\Mohit Jha\Downloads\Compressed\chromedriver_win32\chromedriver.exe')
url=' https://www.myntra.com/shoes'
driver.get(url)

<ipython-input-100-b3c8dae8b7d1>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\Mohit Jha\Downloads\Compressed\chromedriver_win32\chromedriver.exe')

In [101]:
color_fitler=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_fitler.click()

<ipython-input-101-3664829db778>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  color_fitler=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')

In [102]:
price_filter=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click()

<ipython-input-102-5f98e71e60a8>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  price_filter=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')

In [ ]:
urls=[]
Brand=[]
Description=[]
Price=[]
for i in range(0,3):
    for j in driver.find_elements_by_xpath("//ul[@class='results-base']//a"):
        urls.append(j.get_attribute('href'))
    for i in range(0,3):
        for i in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
            Brand.append(i.text)
        for i in driver.find_elements_by_xpath("//h4[@class='product-product']"):
            Description.append(i.text)
        for i in driver.find_elements_by_xpath("//div[@class='product-price']//span"):
            Price.append(i.text)
        driver.find_element_by_xpath("//li[@class='pagination-next']//a").click()
        time.sleep(4)

In [105]:
df=pd.DataFrame({})
df['Brand']=Brand[:100]
df['Price']=Price[:100]
df['Description']=Description[:100]

df

               Brand              Price                      Description
0               Geox          Rs. 11990        Women Leather Solid Pumps
1               Geox           Rs. 7999      Women Solid Leather Loafers
2     Onitsuka Tiger           Rs. 8999        Unisex Mexico 66 Sneakers
3   ADIDAS Originals  Rs. 9099Rs. 12999       Men Streetball II Sneakers
4             ADIDAS           Rs. 9099        Women SUPERNOVA W Running
..               ...                ...                              ...
95   PUMA Motorsport          (15% OFF)    Men Porsche Speedcat Sneakers
96           Bugatti           Rs. 6999  Men Solid Leather Formal Derbys
97    ROSSO BRUNELLO           Rs. 9999       Men Leather Formal Loafers
98              ALDO           Rs. 6999    Men Textured Slip-On Sneakers
99              ALDO           Rs. 6795          Men Solid Driving Shoes

[100 rows x 3 columns]

In [106]:
driver.close()

## ques 8

In [117]:
from selenium.common.exceptions import NoSuchElementException

In [130]:
driver = webdriver.Chrome(r'C:\Users\Mohit Jha\Downloads\Compressed\chromedriver_win32\chromedriver.exe')
url='https://www.amazon.in/'
driver.get(url)

<ipython-input-130-031e59025754>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\Mohit Jha\Downloads\Compressed\chromedriver_win32\chromedriver.exe')

In [131]:
search_button=driver.find_element_by_id('twotabsearchtextbox')
search_button.send_keys('Laptop')

<ipython-input-131-3a2c884c7c24>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_button=driver.find_element_by_id('twotabsearchtextbox')

In [132]:
apply=driver.find_element_by_xpath("//div[@class='nav-search-submit nav-sprite']")
apply.click()

<ipython-input-132-ccdfb0bd797d>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  apply=driver.find_element_by_xpath("//div[@class='nav-search-submit nav-sprite']")

In [133]:
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

<ipython-input-133-e2ab54f47c04>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")

In [134]:
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

<ipython-input-134-787530edb9c9>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")

In [135]:
Title=[]
Ratings=[]
price=[]
titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles[:10]:
    Title.append(i.text)

<ipython-input-135-5db0e860e259>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")

In [136]:
prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices[:10]:
    price.append(i.text)

<ipython-input-136-6cd60aab8dff>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

In [137]:
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))
for url in UR:
    driver.get(url)
    try:                  
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")
        rate.click()                                                      
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        Ratings.append(rating.text)
        
    except NoSuchElementException   as e:
        Ratings.append("NO rating")

<ipython-input-137-2700043c1eb4>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
<ipython-input-137-2700043c1eb4>:8: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")
<ipython-input-137-2700043c1eb4>:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")

In [138]:
df=pd.DataFrame({'Title':Title,
                'Price':price,
                'Ratings':Ratings})

df

                                               Title     Price       Ratings
0  Lenovo ThinkBook Yoga 14s Intel Core i7 11th G...    89,990  3.6 out of 5
1  Fujitsu UH-X 11th Gen Intel i7 Core 13.3 inche...    92,990  4.3 out of 5
2  Mi Notebook Horizon Edition 14 Intel Core i7-1...    52,999  4.2 out of 5
3  Mi Notebook Pro QHD+ IPS Anti Glare Display In...    73,999  4.3 out of 5
4  HP Pavilion (2021) Intel 11th Gen Core i7 14 i...    84,990  4.3 out of 5
5  Mi Notebook Ultra 3.2K resolution display Inte...    77,999  4.3 out of 5
6  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    85,990  4.3 out of 5
7  ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms)...  1,09,990  4.3 out of 5
8  LG Gram 17-inches Ultra-Light Intel Evo 11th G...    98,999  4.5 out of 5
9  Lenovo IdeaPad Gaming 3 11th Gen Intel Core i7...    82,990  4.9 out of 5

In [139]:
driver.close()

## ques 9

In [140]:
#lets import required lib
import selenium
import pandas as pd
from selenium import webdriver

In [147]:
driver = webdriver.Chrome(r'C:\Users\Mohit Jha\Downloads\Compressed\chromedriver_win32\chromedriver.exe')
driver.get(" https://www.ambitionbox.com//")

<ipython-input-147-8e028711ba44>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\Mohit Jha\Downloads\Compressed\chromedriver_win32\chromedriver.exe')

In [148]:
click_job = driver.find_element_by_xpath("//a[@class='link jobs']")
click_job.click()

<ipython-input-148-6cfb2b16d2f8>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  click_job = driver.find_element_by_xpath("//a[@class='link jobs']")

In [149]:
search_title = driver.find_element_by_xpath("//span[@class='twitter-typeahead']/input")
search_title.send_keys("Data Scientist")

search_btn = driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']")
search_btn.click()

<ipython-input-149-702c7055cf7a>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_title = driver.find_element_by_xpath("//span[@class='twitter-typeahead']/input")
<ipython-input-149-702c7055cf7a>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']")

In [150]:
click_loc = driver.find_element_by_xpath("//div[@class='show-flex']/div[2]") 
click_loc.click()    
driver.find_element_by_id("location_Noida").click()

<ipython-input-150-60f3ecee1146>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  click_loc = driver.find_element_by_xpath("//div[@class='show-flex']/div[2]")
<ipython-input-150-60f3ecee1146>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id("location_Noida").click()

In [152]:
#creating empty list
company_name = []
job_posted = []
rating = []

#Scraping all tags

company=driver.find_elements_by_xpath("//div[@class='company-info']")
for i in company:
    company_name.append(i.text.split("\n")[0])
    rating.append(i.text.split("\n")[1])
    
posted=driver.find_elements_by_xpath("//span[@class='body-small-l']")
for i in posted:
    job_posted.append(i.text)
    


posted=[]
for i in range(0,len(job_posted)):
    if i == 0 or  i/2 == i//2:
        posted.append(job_posted[i])

<ipython-input-152-e25d9fa63a1d>:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company=driver.find_elements_by_xpath("//div[@class='company-info']")
<ipython-input-152-e25d9fa63a1d>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  posted=driver.find_elements_by_xpath("//span[@class='body-small-l']")

In [153]:
ambition_com = pd.DataFrame({})
ambition_com["Company_name"] = company_name[1:]
ambition_com["Job_Posted"] = posted
ambition_com["Rating"] = rating[1:]

In [154]:
ambition_com

                          Company_name Job_Posted Rating
0       LG Electronics India Pvt. Ltd.     9d ago    4.1
1        GENPACT India Private Limited    16d ago    4.0
2        GENPACT India Private Limited    16d ago    4.0
3  NTT Data Business Solutions Pvt Ltd    17d ago    3.8
4        GENPACT India Private Limited    18d ago    4.0
5                                Paytm     3d ago    3.7
6                             GI Group     2d ago    4.0
7                             GI Group     2d ago    4.0
8                             GI Group     2d ago    4.0
9                     Steria India Ltd   1mon ago    4.1

In [155]:
driver.close()

## ques10

In [156]:
import selenium
import pandas as pd
from selenium import webdriver

In [157]:
driver = webdriver.Chrome(r'C:\Users\Mohit Jha\Downloads\Compressed\chromedriver_win32\chromedriver.exe')
driver.get(" https://www.ambitionbox.com//")

<ipython-input-157-8e028711ba44>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\Mohit Jha\Downloads\Compressed\chromedriver_win32\chromedriver.exe')

In [158]:
driver.find_element_by_xpath("//a[@class='link salaries']").click()

<ipython-input-158-2b06f3fdc8c8>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//a[@class='link salaries']").click()

In [159]:
search_job = driver.find_element_by_id("jobProfileSearchbox")
search_job.send_keys("Data Scientist")

<ipython-input-159-5cb31df42a28>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id("jobProfileSearchbox")

In [160]:

click=driver.find_elements_by_xpath("//div[@class='suggestion_wrap tt-suggestion tt-selectable']")
for i in click:
    if i.text == 'Data Scientist':   
        i.click() # click on ‚ÄúData Scientist‚Äù
        break

<ipython-input-160-9063e2d0bd8b>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  click=driver.find_elements_by_xpath("//div[@class='suggestion_wrap tt-suggestion tt-selectable']")

In [161]:
company_name = []
salary_record = []
average_salary = []
min_salary = []
max_salary = []
exp = []

In [163]:
company=driver.find_elements_by_xpath("//div[@class='company-info']")
for i in company:
    company_name.append(i.text.split("\n")[0])                              
    salary_record.append(i.text.replace("based on", " ").replace("salaries","").split("\n")[1:2]) 
    exp.append(i.text.replace("yrs exp","").replace("yr exp","").split("\n")[-1])

<ipython-input-163-30fd4ec1d3ab>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company=driver.find_elements_by_xpath("//div[@class='company-info']")

In [164]:
avg_salary=driver.find_elements_by_xpath("//div[@class='average-indicator-wrapper']")
for i in avg_salary:
    average_salary.append(i.text.replace("‚Çπ","").replace("L",""))

<ipython-input-164-68bc5a2c1e69>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  avg_salary=driver.find_elements_by_xpath("//div[@class='average-indicator-wrapper']")

In [165]:
salary=driver.find_elements_by_xpath("//div[@class='salary-values']")
for i in salary:
    min_salary.append(i.text.replace("‚Çπ","").replace("L","").split("\n")[0])  
    max_salary.append(i.text.replace("‚Çπ","").replace("L","").split("\n")[1])

<ipython-input-165-f6e1251ae7d9>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  salary=driver.find_elements_by_xpath("//div[@class='salary-values']")

In [166]:
ambition =pd.DataFrame({})
ambition["Company_Name"] = company_name[:10]
ambition["Total_Salary_Record"] = salary_record[:10]
ambition["Experience_Required"] = exp[:10]
ambition["Average_Salary_L"] = average_salary[:10]
ambition["Minimum_Salary_L"] = min_salary
ambition["Maximum_Salary_L"] = max_salary

In [167]:
ambition

,Company_Name,Total_Salary_Record,Experience_Required,Average_Salary_L,Minimum_Salary_L,Maximum_Salary_L
0,Ab Inbev,[ 20 ],3-4,19.0,15.0,23.0
1,ZS,[ 12 ],2,15.3,9.8,19.5
2,Optum,[ 23 ],3-4,15.0,11.0,21.3
3,Fractal Analytics,[ 66 ],2-4,15.0,9.5,22.0
4,UnitedHealth,[ 47 ],2-4,13.5,7.2,20.5
5,Tiger Analytics,[ 26 ],3-4,13.5,8.3,18.5
6,Verizon,[ 14 ],4,12.7,10.0,21.0
7,Ganit Business Solutions,[ 13 ],4,12.4,8.5,15.0
8,Ericsson,[ 42 ],3-4,11.7,5.2,21.5
9,Deloitte,[ 49 ],2-4,11.2,6.8,20.5

In [168]:
driver.close()